.recipe {
    display: flex;
    flex-direction: column;
}

.card {
    width: 100%;
    margin-top: 20px;
}

.card.recipe-method {
    /* max-width: 640px ; */
}

.recipe-img-ingred {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 980px) {
    .recipe{
        flex-direction: row;
    }

    .recipe-img, .card.ingredients-container {
        max-width: 500px;
    }

    .card.recipe-method {
        width: unset;
        margin-left: 40px;
    }

}
